# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [48]:
# Arithmetric Operators

print('Addition', 5+6)

print('subtraaction', 5-6)

print('Multiplication', 5*6)

print('Division', 5/2)

print(5//2) # IT convert normal division to integer

print('It tells remainder',5%2) #Moduls

print('Power', 5**2) # It gives you power of

Addition 11
subtraaction -1
Multiplication 30
Division 2.5
2
It tells remainder 1
Power 25

In [49]:
# Relational Operators
print(4>5) # greater > smaller

print(4<5) # smaller < greater

print(4>=4) # greater than equal to

print(4<=4) # smaller than equal  to

print(4==4) # Equal to equal to

print(4!=4) # Not Equal to

False
True
True
True
True
False

In [50]:
# Logical Operators
print(1 and 0) #It gives True when both are True

print(1 or 0) # it give True when one of the condition true

print(not 1) # It gives opposite answer

0
1
False

In [51]:
# Bitwise Operators

# bitwise and operator
print(2 & 3)

# bitwise or operator
print(2 | 3)

# bitwise xor
print(2 ^ 3)

# bitwise not operator
print(~3)

# bitwise left operator
print(4 >> 2)

# bitwise right opearator
print(5 << 2)

2
3
1
-4
1
20

In [52]:
# Assignment Operators

#addition
a = 3
a = a + 3
print(a)

#subtraction
b = 2
b = b - 1
print(b)

#multilpication
c = 4
c = c * 2
print(c)

#division
d = 4
d = d/2
print(d)

6
1
8
2.0

In [53]:
# Membership Operators

# in/not in

print('D'  in 'Delhi')
print('M' not in 'Mumbai')
print('Mahad' in ['Delhi','Agra','Pune','Goa','Mahad'])
print(1 not in [2,3,4,5,6])
print(2.4 in [1,5,3,7,8,2])

True
False
True
True
False

In [54]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))
# 789%10 ->9
a = number%10
number = number//10

#78%10 -> 8
b = number%10
number = number//10

#7%10 -> 7
c = number%10
number = number//10

print(a + b + c)

Enter a 3 digit number789
24

# If-else in Python

In [55]:
# login program and indentation
# email -> aftab23@gmail.com
# password -> 1234

email = input('Enter email: ')
password = input('Enter the password: ')

if email == 'aftab23@gmail.com' and password == '1234':
  print('Welcome')

elif email != 'aftab23@gmail.com' and password == '1234':
  print('email is wrong')
  email = input('Enter email again: ')
  if email == 'aftab23@gmail.com':
    print('Email is correct')
  else:
    print('You have to remember the email')

elif email == 'aftab23@gmail.com' and password != '1234':
  print('Password is wrong')
  password = input('Enter password again')
  if password == '1234':
    print('password is correct')
  else:
    print('You have to remember the password')

else:
  print('Not correct')

Enter email: aftab23@gmail.com
Enter the password: 1234
Welcome

In [56]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [57]:
# min of 3 number

a = int(input('Enter the number: '))
b = int(input('Enter the number: '))
c = int(input('Enter the number: '))

if a < b  and a < c:
  print('smallest number is', {a})
elif b < c:
  print('smallest number is', {b})
else:
  print('smallest is' ,{c})

Enter the number: 45
Enter the number: 67
Enter the number: 98
smallest number is {45}

In [58]:
from pathlib import PureWindowsPath
# menu driven calculator
fnum = int(input('Enter the number: '))
snum = int(input('Enter the number: '))

operation = input('Enter the operation: ')

if operation == '+':
  print(fnum + snum)
elif operation == '-':
  print(fnum - snum)
elif operation == '*':
  print(fnum * snum)
elif operation == '/':
  print(fnum / snum)
else:
  print('Nothing')

Enter the number: 45
Enter the number: 89
Enter the operation: *
4005

In [59]:
#  Atm menu

menu = input("""
Hi, How can I help you.
1. Enter 1 for type your pin
2. Enter 2 for withdrawl
3. Enter 3 for balance check
4. Enter 4 for change pin
""")

if menu == '1':
  print('Type your pin')
elif menu == '2':
  print('Withdraw your money')
elif menu == '3':
  print('Check your balance')
elif menu == '4':
  print('change your pin')
else:
  print('Exit')

Hi, How can I help you.
1. Enter 1 for type your pin
2. Enter 2 for withdrawl
3. Enter 3 for balance check
4. Enter 4 for change pin
3
Check your balance

# Modules in Python

- math
- keywords
- random
- datetime

In [60]:
# math
import math

print(math.sqrt(196)) # to get square root
print(math.factorial(5)) # to get factorail
print(math.floor(6.7))

14.0
120
6

In [61]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [62]:
# random
import random

print(random.randint(1,100))

89

In [63]:
# datetime
import datetime
print(datetime.datetime.now())

2023-01-05 12:32:52.974799

# Loops in Python

- Need for loops
- While Loop
- For Loop

In [64]:
# While loop example -> program to print the table
# Program -> Sum of all digits of a given number
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [65]:
user = int(input('Enter the number: '))
i = 1
while i < 11:
  print(user * i)
  i += 1

Enter the number: 4
4
8
12
16
20
24
28
32
36
40

In [66]:
# while loop with else 

x = 1

while x < 5:
  print(x)
  x = 1 + x

else:
  print('limit crossed')

1
2
3
4
limit crossed

In [67]:
from typing_extensions import Counter
# Guessing game

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('Guess karo: '))
counter =  1

while guess != jackpot:
  if guess < jackpot:
    print('Wrong, guess higher')
  else:
    print('Wrong, guess lower')

  guess = int(input('Guess karo: '))
  counter += 1

else:
  print('Correct! guess')
  print('attempts',counter)

Guess karo: 67
Wrong, guess lower
Guess karo: 45
Wrong, guess lower
Guess karo: 34
Wrong, guess lower
Guess karo: 23
Wrong, guess higher
Guess karo: 27
Wrong, guess higher
Guess karo: 31
Correct! guess
attempts 6

In [68]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

In [69]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [70]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [71]:
for i in range(10,0,-1): # reverse manner
  print(i)

10
9
8
7
6
5
4
3
2
1

In [72]:
# For loop examples

for i in 'Delhi':
  print(i)

D
e
l
h
i

In [73]:
fruit = ['apple','mango','banana','lichi']

for i in fruit:
  if 'apple' in i:
    print('apple is present')
  print(i)

apple is present
apple
mango
banana
lichi

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [74]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop /1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845